# Data files
data_ticket.json
data_sprint.json

# Config files
query_config.json
user_config.json
credentials.json
token.pickle
client_secret.json
sheets.googleapis.com-python.json

# Cached files
__pycache__